.plate-container {
  position: relative;
  flex-direction: column;
  align-items: center;
}

.can-drive-container {
  border-radius: 15px;
}

.can-drive {
  font-size: 30px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
